@import "../../../style/mixin.scss";
.container {
  .aside {
    display: none;
  }
  .register {
    width: 100%;
    h2 {
      display: none;
    }
    .registerForm {
      width: 80%;
      margin: 0 auto;
    }
    .inputBox {
      margin: 30px 0;
      input {
        width: 100%;
        border: 1px solid #ccc;
        font-size: 15px;
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 20px;
      }
    }

    .loginButton {
      margin-top: 20px;
      width: 100%;
      font-size: 18px;
      padding: 10px 0;
      background: #000;
      color: #fff;
      border-radius: 20px;
      &:hover {
        background: #dc9452;
      }
    }

    .links {
      width: 80%;
      margin: 30px auto;
      display: flex;
      justify-content: space-between;
      a {
        font-size: 16px;
        color: #000;
        &:hover {
          color: #dc9452;
        }
      }
    }
  }
}
@include mobile {
}

@include tablet {
}

@include desktop {
  .container {
    height: calc(100vh - 130px);
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 100px;
    box-sizing: border-box;
    .aside {
      display: block !important;
      flex: 1;
      img {
        width: 100%;
        max-width: 600px;
      }
    }

    .register {
      flex: 1;
      h2 {
        display: block;
        text-align: center;
        font-size: 36px;
      }
      .links {
        max-width: 400px;
      }
      .registerForm {
        width: 80%;
        margin: 0 auto;
        max-width: 400px;
        .inputBox {
          margin: 40px 0;
        }
      }
    }
  }
}
